body {
    margin: 0;
    font-family: Sylfaen;
}

h1 {
    text-align: center;
}

.bon {
    background-color: lightgreen;
}

.moyen {
    background-color: orange;
}

.mauvais {
    background-color: indianred;
}

main {
    background: linear-gradient(6deg,
        rgb(187, 187, 68, 0.7),
        rgb(187, 187, 153, 0.7),
        rgb(187, 187, 221, 0.7));
}
#calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#submit_form_calculator {
    margin: 5px auto;
    width: 50%;
    height: 40px;
}

.calculator-main {
    margin: auto;
}

.control_panel {
    width: min-content;
    padding: 2px;
}

.panel {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: rgb(187, 187, 119, 0.7);
}

.panel_total {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(187, 187, 68, 0.6);
    text-align: center;
}

.panel_prix {
    margin: 5px;
}

.panel_prix input {
    float: right;
}

.panel_prix label {
    margin-right: 10px;
}

.title_panel {
    text-align: center;
    margin: 2px;
}

.prix {
    width: max-content;
    font-weight: bolder;
    padding: 1px;
    margin-top: 5px;
    background-color: rgb(187, 136, 102);
}

.title_prix {
    margin-bottom: 5px;
}

.bilan {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.cashflow, .rendement {
    width: 45%;
}

.descriptif {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.descriptif span {
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 15px;
}
