.bon {
    background-color: lightgreen;
}

.moyen {
    background-color: orange;
}

.mauvais {
    background-color: indianred;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#submit_form_calculator {
    margin: 5px auto;
    width: 50%;
}

.calculator-main {
    margin: auto;
}

.control_panel {
    width: min-content;
    background-color: coral;
    padding: 20px;
    border: blanchedalmond solid 1px;
}

.panel {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: blanchedalmond;
}

.panel_total {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightgrey;
    text-align: center;
}

.panel_prix {
    margin: 5px;
}

.panel_prix input {
    float: right;
}

.panel_prix label {
    margin-right: 10px;
}

.title_panel {
    text-align: center;
}

.prix {
    width: max-content;
    font-weight: bolder;
    margin-top: 5px;
    background-color: lightslategray;
}

.title_prix {
    margin-bottom: 5px;
}

.bilan {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.cashflow, .rendement {
    width: 45%;
}

.descriptif span {
    font-weight: bolder;
    font-size: 1.2rem;
}
